@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono&family=Roboto:ital,wght@0,300;0,900;1,100&display=swap');

* {
  font-family: 'Roboto Mono', monospace;
}

body {
  background-color: black;
  margin: 0;
}

#app {
  margin: 0;
}

.home {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  justify-content: flex-start;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.header {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  background-color: #022B3A;
  margin-bottom: 3vh;
  padding:10px;
}

.footer {
  display: flex;
  justify-content: center;
  gap: 5px;
  background-color: black;
  margin-top: 1vh;
}

.bio {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 30vw;
  height: 85vh;
  margin: auto;
  border-radius: 5px;
  color: white;
}

.bio p {
  text-align: center;
}

.bio h2 {
  text-align: center;
}

.bio img {
  border-radius: 5px;
  height: 40vh;
}

.bio a {
  color: #00A7E1;
}

.bio a:visited {
  color: #00A7E1
}

.bio a:hover {
  color: white;
}

.bioLinks {
  display: flex;
  gap: 3vw;
  color: #00A7E1;
  cursor: pointer;
}

.bioLinks p {
  text-decoration: underline;
}

.bioLinks p:hover {
  color: white;
}

.projectOne {
  width: 90vw;
  height: 83vh;
  margin: auto;
  border-radius: 5px;
  background-color: white;
}

.projectTwo {
  width: 90vw;
  height: 83vh;
  margin: auto;
  border-radius: 5px;
  background-color: white;
}

.projectThree {
  width: 90vw;
  height: 83vh;
  margin: auto;
  border-radius: 5px;
  background-color: white;
}

.projectHolder {
  height: 83vh;
}

.resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  max-height: 85vh;
  margin: auto;
  border-radius: 5px;
  background-color: white;
  overflow: scroll;
}

.resume img {
  width: 75vw;
  margin-top: -10vh;
}

.resume a {
  color: #00A7E1;
  margin-top: 3vh;
  z-index: 10;
  font-size: larger;
}

.resume a:visited {
  color: #00A7E1
}

.projectButton {
  width: 15vw;
  height: 5vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: large;
  cursor: pointer;
  transition: 0.3s;
}

.projectButton:hover {
  color: #00A7E1;
  font-size: x-large;
  transition: 0.3s;
}

.bioButton {
  width: fit-content;
  margin-left: 1vw;
  margin-right: 1vw;
  height: 4vh;
  background-color: #022B3A;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: large;
  cursor: pointer;
  transition: 0.3s;
}

.bioButton:hover {
  color: #00A7E1;
  transition: 0.3s;
}

.projectContainer {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 5%;
}

.projectPaneLeft {
  width: 33%;
  height: full;
  background-color: #171717;
  color: white;
}

.projectPaneRight {
  width: 67%;
  height: full;
  background-color: #171717;
  color: white;
  border-left: 2pt solid white;
}

.projectDescription {
  display: flex;
  width: 90%;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin: auto
}

.projectDescription a {
  color: #00A7E1;
  font-size: larger;
  margin-bottom: 1vh;
  transition: 0.3s;
  word-spacing: .01vw;
}
.projectDescription a:first-of-type {
  margin-top: 2vh;
}

.projectDescription a:visited {
  color: #00A7E1;
}

.projectDescription a:hover {
  color: white;
  transition: 0.3s;
}

.projectSlide {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.projectSlide img {
  width: 80%;
  margin-top: 2%;
}

.projectSlide h2 {
  margin: 1%;
}

.projectSlide p {
  margin: 1%;
}

.slideNavigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.navArrow {
  color: #00A7E1;
  cursor: pointer;
  transition: 0.3s;
}

.navArrow:hover {
  color: white;
  transition: 0.3s;
}

.contact {
  width: 90vw;
  height: 83vh;
  margin: auto;
  border-radius: 5px;
  background-color: black;
  color: white;
}

.contact h2 {
  text-align: center;
}

.contact form {
  background: black;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   width: 30vw;
   gap: 5vh;
   margin: auto;
}

.contact input {
  height: 5vh;
}

.contact textarea {
  height: 15vh;
}

.contact button {
  width: 12vw;
  margin: auto;
}

/* https://coolors.co/022b3a-1f7a8c-bfdbf7-e1e5f2-ffffff */

/* CSS HEX */
/* --gunmetal: #022b3aff;
--metallic-seaweed: #1f7a8cff;
--beau-blue: #bfdbf7ff;
--lavender-web: #e1e5f2ff;
--white: #ffffffff; */

/* CSS HSL */
/* --gunmetal: hsla(196, 93%, 12%, 1);
--metallic-seaweed: hsla(190, 64%, 34%, 1);
--beau-blue: hsla(210, 78%, 86%, 1);
--lavender-web: hsla(226, 40%, 92%, 1);
--white: hsla(0, 0%, 100%, 1); */

/* SCSS HEX */
/* $gunmetal: #022b3aff;
$metallic-seaweed: #1f7a8cff;
$beau-blue: #bfdbf7ff;
$lavender-web: #e1e5f2ff;
$white: #ffffffff; */

/* SCSS HSL */
/* $gunmetal: hsla(196, 93%, 12%, 1);
$metallic-seaweed: hsla(190, 64%, 34%, 1);
$beau-blue: hsla(210, 78%, 86%, 1);
$lavender-web: hsla(226, 40%, 92%, 1);
$white: hsla(0, 0%, 100%, 1); */

/* SCSS RGB */
/* $gunmetal: rgba(2, 43, 58, 1);
$metallic-seaweed: rgba(31, 122, 140, 1);
$beau-blue: rgba(191, 219, 247, 1);
$lavender-web: rgba(225, 229, 242, 1);
$white: rgba(255, 255, 255, 1); */
